@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.logged-in-user {
  margin-top: 100px;
  margin-left: 600px;
  flex-wrap: wrap;
  text-align: right;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}

.logged-in-user img {
  margin-left: 300px;
  height: 70px;
  width: 60px;
}

.comments {
  flex-wrap: wrap;
  margin-top: 10px;
  list-style-type: none;
  text-align: center;
}

.comment {
  margin: 100px;
  border-style: solid;
}

.votes {
  flex-wrap: wrap;
  margin-right: 500px;
}

.numVotes {
  margin: 0px;
  margin-left: 30px;
  font-size: 30px;
  padding-top: 35px;
}

.flex-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 140px;
}

.heart-btn {
  height: 10px;
  width: 10px;
}

.dislike-btn {
  font-size: 30px;
  font-weight: bold;
}

.comment-input {
  height: 100px;
  width: 400px;
}

.comment-btn {
  margin-top: 35px;
  background-color: #6b85b6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.comment-btn {
  transition-duration: 0.4s;
}

.comment-btn:hover {
  background-color: #32323a;
  color: white;
}

.input-err {
  color: red;
}

.comment-add-section {
  font-size: 30px;
  flex-wrap: wrap;
  margin-left: 25%;
}

.filterby {
  font-size: 40px;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #222952;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #959ea8;
}

.delete-msg {
  text-align: center;
  color: red;
  font-size: 30px;
  padding-bottom: 0px;
}
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.errorMsg {
  margin-top: 100px;
  font-size: 30px;
}

.errorcomponent-msg {
  font-size: 40px;
  margin-top: 150px;
  text-align: center;
  flex-wrap: wrap;
}

.error-emoji {
  text-align: center;
  margin-top: 100px;
  font-size: 100px;
}

.articles_btn {
  background-color: #222952;
}

.welcome {
  flex-wrap: wrap;
  font-size: 20px;
}

.login {
  flex-wrap: wrap;

  font-size: 20px;
  font-weight: bold;
  margin-top: 60px;
  left: 10;
  right: 50px;
}
