@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.article-container {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  height: 600px;
  width: 950px;
  text-align: center;
}

.logged-in-user {
  margin-top: 100px;
  margin-left: 600px;
  flex-wrap: wrap;
  text-align: right;
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}

.logged-in-user img {
  margin-left: 300px;
  height: 70px;
  width: 60px;
}

.comments {
  flex-wrap: wrap;
  margin-top: 10px;
  list-style-type: none;
  text-align: center;
}

.comment {
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  margin: 100px;
  height: auto;
  width: 800px;
  border-style: solid;
}

.votes {
  flex-wrap: wrap;
  margin-right: 500px;
}

.numVotes {
  margin: auto;
  margin-left: 30px;
  font-size: 30px;
  padding-top: 35px;
}

.flex-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 140px;
}

.heart-btn {
  height: 20px;
  width: 20px;
}

.dislike-btn {
  font-size: 30px;
  font-weight: bold;
}

.comment-input {
  margin-top: 300px;
  height: 100px;
  width: 400px;
}

.comment-btn {
  margin-top: 35px;
  background-color: #6b85b6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.comment-btn {
  transition-duration: 0.4s;
}

.comment-btn:hover {
  background-color: #32323a;
  color: white;
}

.input-err {
  color: red;
}

.comment-add-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  flex-wrap: wrap;
  margin-left: 25%;
}

.filterby {
  font-size: 40px;
}

/* Style The Dropdown Button */
.dropbtn {
  margin-top: 50px;
  background-color: #222952;
  color: white;
  margin-right: 750px;
  font-size: 16px;
}

.dropdown-content {
  display: none;

  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #959ea8;
}

.delete-msg {
  text-align: center;
  color: red;
  font-size: 30px;
  padding-bottom: 0px;
}

.dropdown-sortby {
  font-size: 20px;
  margin-left: 30px;
}

.dropdown-orderby {
  font-size: 20px;
  margin-left: 43%;
}

/*error message */
.errorMsg {
  margin-top: 100px;
  font-size: 30px;
}

.errorcomponent-msg {
  font-size: 40px;
  margin-top: 150px;
  text-align: center;
  flex-wrap: wrap;
}

.error-emoji {
  text-align: center;
  margin-top: 100px;
  font-size: 100px;
}

.articles_btn {
  background-color: #222952;
}

.welcome {
  flex-wrap: wrap;
  font-size: 20px;
}

.login {
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
  margin-top: 60px;
  left: 10;
  right: 50px;
}

/*loader*/

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #4b62ac #202750;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
