.card {
  margin-top: 210px;
  display: flex;
  flex-wrap: wrap;
}

.article {
  list-style: none;
  border: 1px solid #c1c4c9;
  border-radius: 5px;
  padding: 30px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 5px 5px 2px #3a3a53;
}

.title {
  font-size: 18px;
  margin: 0;
}

.author {
  font-size: 16px;
  color: #777;
  margin: 5px 0;
}

.date {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

.article-image {
  width: 100%;
  border-radius: 5px;
}

.topic {
  font-size: 16px;
  color: #0f1f31;
  margin: 5px 0;
}

.votes {
  font-size: 18px;
  color: #0f1f31;
  margin: 5px 0;
}

.comments {
  font-size: 18px;
  color: #0f1f31;
  margin: 5px 0;
}
